<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <h1>My to do list</h1>
</head>
<body align="center">
<div>
<form th:action="@{/addNewTask}" method="post">
         <input type="text" th:name="nameTask" placeholder="Write your task"/>
         <button type="submit">Add</button>
</form>
    <div>
        <label style="color: blueviolet;">________New Tasks________</label>
    </div>
</div>

<div th:each="task : ${tasks}">
    <form th:action="@{/submitTask}" method="post" >
        <div th:if="${task.status == true}">
            <input type="hidden" name="idTask" th:text="${task.id}" th:value="${task.id}"/>
            <input type="hidden" th:text="${task.name_task}" />
            <input name="checkboxName" type="checkbox"/>
            <button type="submit">Завершить</button>
        </div>
    </form>
</div>
<div>
    <label style="color:darkgreen">________Сompleted Tasks________</label>
</div>
<div th:each="task : ${tasks}">
    <form th:action="@{/submitTask}" method="post" >
        <div th:if="${task.status == false}">
            <input type="hidden" name="idTask" th:text="${task.id}" th:value="${task.id}"/>
            <input type="hidden" th:text="${task.name_task}" />
            <input name="checkboxName" type="checkbox" checked="checked"/>
            <button type="submit">Доделать</button>
        </div>
    </form>
</div>


</body>
</html>