<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<div>
<form method="post">
        <input type="text" name="nameTask"/>
         <button type="submit">Add</button>
</form>
</div>
{{#tasks}}
    <div>
        <d>{{id}}</d>
        <span>{{nameTask}}</span>
        <input type="radio"/>
    </div>
{{/tasks}}
</body>
</html>